CSCI 101: Foundation of Data Science and Engineering <br>
Author: Bruce Huang, Ph.D.<br>
<br>
Topics: Data Cleaning - Blank lines, extra spaces, invalid values, string to datatime object

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('cookies dirty data.csv')

# drop rows if all elements are blank
df.dropna(how="all", inplace = True)

# remove leading/trailing spaces
df["Salesman"] = df["Salesman"].str.strip()

# replaces invalid valuzes with NaN for one column
df['Price'] = df['Price'].replace('[^A-Za-z0-9]',np.NaN,regex=True)

# replaces invalid values with NaN for multiple columns
df[['Tweets','Sales']] = df[['Tweets','Sales']].replace('[^0-9]',np.NaN,regex=True)

ModuleNotFoundError: No module named 'pandas'

In [2]:
# drop rows if one or more elements are blank
df = df.dropna()

In [3]:
df.head()

       Date       Day  Temperature Salesman Tweets  Price Sales
0  1/1/2019   Tuesday         72.0     John      2    0.5   177
2  1/3/2019  Thursday         69.0     John      5    0.5   172
3  1/4/2019    Friday        100.0     John      7    0.5   150
5  1/6/2019    Sunday         91.0      Ada      8    0.5   120
6  1/7/2019    Monday         81.0      Ada      3    0.3    96

In [4]:
# convert Date string to datetime object
df['Date'] = pd.to_datetime(df['Date'], format = '%m/%d/%Y')

In [5]:
df.head()

        Date       Day  Temperature Salesman Tweets  Price Sales
0 2019-01-01   Tuesday         72.0     John      2    0.5   177
2 2019-01-03  Thursday         69.0     John      5    0.5   172
3 2019-01-04    Friday        100.0     John      7    0.5   150
5 2019-01-06    Sunday         91.0      Ada      8    0.5   120
6 2019-01-07    Monday         81.0      Ada      3    0.3    96

In [6]:
# save date frame to CSV file
df.to_csv("cookies_clean1.csv", index= False)